@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Cairo', sans-serif;
}

body{
    background:black;
    color:#00ff66;
}

/* MATRIX */
#matrix{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
    border-bottom:1px solid #00ff66;
    background:rgba(0,0,0,0.7);
}

.logo{
    font-size:22px;
    font-weight:bold;
}

nav a{
    color:#00ff66;
    text-decoration:none;
    margin-right:20px;
}

/* HERO */
.hero{
    text-align:center;
    padding:60px;
}

.glow{
    text-shadow:0 0 10px #00ff66;
}

/* SERVICES */
.services{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:40px;
}

.card{
    width:300px;
    background:#111;
    border:1px solid #00ff66;
    border-radius:15px;
    text-align:center;
    padding-bottom:15px;
}

.img-box{
    height:180px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:1px solid #00ff66;
}

/* ABOUT */
.about{
    text-align:center;
    padding:70px;
}

.about-text{
    color:#aaa;
    max-width:600px;
    margin:auto;
}

.features{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
    margin:20px 0;
}

.feature{
    border:1px solid #00ff66;
    padding:10px;
    border-radius:10px;
}

/* BUTTON */
.btn{
    display:inline-block;
    padding:12px 25px;
    border:1px solid #00ff66;
    color:#00ff66;
    background:transparent;
    border-radius:30px;
    text-decoration:none;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:#00ff66;
    color:black;
}

/* WELCOME */
.welcome-body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.welcome-box{
    text-align:center;
    padding:40px;
    border:1px solid #00ff66;
    border-radius:20px;
}